.cover__links {
  width: 100%;
  height: 100%;
  background-color: rgba(42,44,47,0.3);
  transition: background-color 1s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 2;
}
.cover__links:hover {
  background-color: rgba(42,44,47,0.8);
  /* opacity: 80%; */
}
