.cover__title {
  margin: 0 auto;
  padding: 0;
  max-width: 560px;
  text-align: center;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  transition: max-width 1s, font-size 1s;
  margin-bottom: 32px;
}
@media screen and (max-width: 896px) {
  .cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
  }
}
@media screen and (max-width: 544px) {
  .cover__title {
    max-width: 250px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}